# Python
__pycache__/
*.py[cod]
.venv/

# Environment
.env

# Data
data/raw/
data/processed/
data/docs/*.pdf

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Distribution
dist/
*.egg-info/

# uv init default
main.py

# ML artifacts
*.joblib
*.pkl
*.model
mlruns/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
logs/

# Test artifacts
.pytest_cache/
.coverage
htmlcov/